@font-face {
	font-family: "Good Times";
	src: url('../fonts/good_times.ttf');
}
@font-face {
	font-family: "Good Times IE";
	src: url('../fonts/good_times.eot');
}
/*Reset*/
* {
	margin: 0;
	padding: 0;
	font-family: "Good Times", "Good Times IE";
}
/*HTML*/
body {
	background: url(../img/bg.jpg);
	text-align: center;
	color: #fff;
	border-top: 3px solid #fff;
}
/*Content*/
.content{
	margin-top: 20px;
}
.content:hover h1{
	transition: 0.6s;
	text-shadow: 0px 0px 6px #069;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.content h4 {
	margin-bottom: 15px;
}
.content .fb-like-box {
	background: #fff;
	margin: 15px 0;
}
/*Logo*/
.logo {
	position: absolute;
	background: #fff;
	top: 0;
	left: 45px;
	border-radius: 0 0 10px 10px;
	border-bottom: 3px solid #22BAF2;
	padding: 5px;
	box-shadow: 0px 0px 8px #22BAF2;
}